@import url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay.css');
@import url('./animations.css');

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Now Display';
    font-weight: 300;
    text-decoration: none;
}

*:focus {
    outline: none;
}

.app {
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 20;
    animation: animation-header .6s linear;
}

.header.active {
    box-shadow: 0 0 10px #0001;
    background: #fffe;
    backdrop-filter: blur(20px);
}

.header.active .container {
    padding-block: 15px;
}

.header .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px;
    transition: 75ms;
}

.header .logo {
    display: flex;
}

.header .nav .toggle {
    display: none;
    padding: 10px;
    margin-inline-end: -10px;
}

.header .nav .nav-list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.header .nav .nav-link {
    display: inline-block;
    color: #706E6E;
    font-weight: 500;
    font-size: 17px;
    padding-block: 15px;
    transition: 50ms;
}

.header .nav .nav-link:hover, .header .nav .nav-link.active {
    color: #790efb;
}

/* Hero Section */
.hero-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding-top: 150px;
    position: relative;
    z-index: 10;
}

.hero-section .bg-title {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: calc(60px + 5%);
    z-index: 0;
    padding: 0 40px;
    -webkit-filter: drop-shadow(18px 18px 16px #f7f7f7);
    filter: drop-shadow(18px 18px 16px #f7f7f7);
    animation: animation-bg-title .8s linear;
}

.hero-section .left {
    padding-top: 100px;
}

.hero-section .intro span {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #878A8F;
    animation: animation-1st .6s linear;
}

.hero-section .intro h1 {
    font-size: 72px;
    line-height: 75px;
    letter-spacing: -1px;
    font-weight: 700;
    padding-top: 15px;
    animation: animation-2nd .8s linear;
}

.hero-section .intro p {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #878A8F;
    margin-block-start: 20px;
    margin-block-end: 40px;
    animation: animation-3rd 1s linear;
}

.hero-section .links {
    display: flex;
    align-items: center;
    gap: 18px;
    animation: animation-4th 1.2s linear;
}

.hero-section .links .link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 18px;
    padding-block: 15px;
    color: #0F141E;
    font-weight: 600;
}

.hero-section .links .link:hover {
    text-decoration: underline;
}

.hero-section .links .or {
    font-size: 16px;
    font-weight: 500;
    color: #878A8F;
}

.hero-section .container img {
    max-height: 700px;
    animation: animation-2nd .8s linear;
}

.scroll-to-block {
    display: none;
    justify-content: center;
    margin-top: -50px;
    position: relative;
    z-index: 20;
    animation: animation-5th 1.4s linear;
}

.scroll-to-link {
    transition: all .25s;
}

.scroll-to-link:hover {
    opacity: 0.4;
}

.scroll-to-icon {
    width: 20px;
    height: 30px;
    box-shadow: inset 0 0 0 2px #0f141e;
    border-radius: 25px;
    transition: all .25s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.scroll-to-icon:after {
    content: '';
    width: 4px;
    height: 6px;
    background: #0f141e;
    margin-left: 8px;
    top: 8px;
    border-radius: 2px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    position: absolute;
    transition: background .25s;
}

/* XS */
@media (min-width: 0px) and (max-width: 639px) {
    .container {
        width: 90% !important;
    }
    .header .container {
        padding-block: 15px;
    }
    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }
    .hero-section .container {
        padding-top: 100px;
    }
    .hero-section .bg-title {
        -webkit-filter: drop-shadow(4px 2px 12px #0001);
        filter: drop-shadow(4px 2px 12px #0001);
    }
    .hero-section .intro span {
        font-size: 20px !important;
    }
    .hero-section .intro h1 {
        font-size: 56px !important;
        line-height: 46px !important;
    }
    .hero-section .intro p {
        font-size: 20px !important;
        font-weight: 300 !important;
        line-height: 26px !important;
        padding: 0 !important;
        margin-block: 40px !important;
    }
    .hero-section .intro p:before {
        display: none;
    }
    .hero-section .right {
        display: none;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90% !important;
    }
    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }
    .hero-section .right {
        display: none;
    }
}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90% !important;
    }
    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }
    .hero-section .right {
        display: none;
    }
}

/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {
    .hero-section .right {
        display: none;
    }
}

/* XL */
@media (min-width: 1280px) and (max-width: 1535px) {
    .hero-section .right {
        display: none;
    }
    .scroll-to-block {
        display: flex;
        margin-top: 30px;
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .scroll-to-block {
        display: flex;
    }
}
